$generalText: #fff8dc;
$generalFont: 'Source Sans Pro', sans-serif;

@mixin backgroundImage{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
*{
	color: $generalText;
}
li a{
	color: $generalText;
}
body {
	background-image: url("../img/image11.jpg");
	font-family: $generalFont;
	@include backgroundImage;
}

.headline{
	padding-top:65px;
	font-weight:500;
	font-size:90px;
}
.tagline{
	font-size:40px;
}
.secondaryContent{
	background-image: url("../img/image9.jpg");
	@include backgroundImage;
	height: 900px;
}
.thirdContent{
	background-image: url("../img/image12.jpg");
	@include backgroundImage;
	height: 800px;
}
.fourthContent{
	background-image: url("../img/image8.jpg");
	@include backgroundImage;
	height: 800px;
}
.fifthContent{
	background-image: url("../img/image7.jpg");
	@include backgroundImage;
	height: 800px;
}
.row{
    padding: 0 !important;
    margin: 0 !important;
}

.content{
    padding: 0 !important;
    margin: 0 !important;
}
ul {
	list-style-type: none;
	padding: 0;
	overflow:hidden;
}
a,a:link,a:hover{
	color:$generalText;
	text-align:center;
	text-decoration:none;
}
li,li:visited{
	margin:0 auto;
	display:inline-block;
	text-align:center;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left:25px;
	font-family: 'Space Mono', monospace;
}
ul li {
	font-size:13px;
	display:inline-block;
}
.hidden{
	visibility:hidden;
}
.ghostButton {
	display: inline-block;
	width: 300px;
	padding: 20px;
	color: $generalText;
	border: 1px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
}
h1{
	font-weight:300;
}
.container{
	width:80%;
}
hr{
	margin-left:10px;
	margin-right:10px;
}